.cell {
    width: 75px;
    height: 75px;
    border: 2px solid blueviolet;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    cursor: pointer;
    font-size: 3em;
}

#board {
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#restartBtn {
    width: 200px;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(22, 17, 17);
    color: whitesmoke;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 1s ease;
}

#restartBtn:hover {
    filter: brightness(120%);
    transform: scale(1.05);
}
